body {
    background-color: rgb(255, 209, 218);
    font-size: 30px;
    padding: 2;
    margin: 5;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    color:white;
}
.first {
    color:rgb(219, 174, 219);
}
#second {
    color:rgb(202, 202, 245);
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
#post-img {
    width:  50%;
    height: 50%;
    /*pink could be percentage, vw, px*/
    object-fit: cover;
    /*object fit fixes aspect ratio of image if needed */
}
.post {
    height: 450px;
    width: 450px;
    background-color: white;
    margin: 10px auto;
    padding: 70px;
}
.post-link {
    height: 100px;
    width: 50vw;
    background-color: white;
    margin: 0px;
    padding: 25px;
}
.post2 {
    height: 450px;
    width: 450px;
    background-color: white;
    margin: 10px auto;
    padding: 80px;

}